<div class="small-card-container">
    <div class="small-card-content">
        <div class="small-card-photo">
            <img 
                src="https://img.freepik.com/fotos-gratis/captura-horizontal-de-dois-gatos-sentados-em-um-fundo-desfocado_181624-56173.jpg" 
                alt=""
                
                
                >
        </div>
    
        <div class="small-card-title">
            <h1><a href="#">Saiu a nova versão do Angular</a></h1>
        </div>
    </div>
    
    <div class="small-card-separator">
        <hr />
    </div>
     

</div>
