
<app-menu-title></app-menu-title>
<div class="articles-container">
    <div class="articles__main">
        <app-big-card 
            Id="1"
            photoCover="https://c4.wallpaperflare.com/wallpaper/350/1006/490/cat-4k-1080p-high-quality-wallpaper-preview.jpg"
            cardTitle="GATTI MANGIANO FAGIOLO"
            cardDescription="Il gatto arancione è sull'erba verde e ti guarda, mentre aspetta l'uccello giallo. Cosa farà quando arriverà l'uccello? Gli elefanti sono nello zoo. Io bevo sua bevanda."   
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card 
            Id="2"
            photoCover="https://img.freepik.com/fotos-gratis/captura-horizontal-de-dois-gatos-sentados-em-um-fundo-desfocado_181624-56173.jpg"
            cardTitle="Zwei katzen, sehr schon, guten tag."
            >
        </app-small-card>

        <app-small-card 
            Id="3"
            photoCover="https://img.freepik.com/fotos-gratis/close-de-um-gato-ruivo-abracando-e-lambendo-o-outro-isolado-em-uma-parede-branca_181624-32893.jpg"
            cardTitle="Rarest kind of cat: female orange cat found in Amparo."
            >
        </app-small-card>
        
        <app-small-card 
            Id="4"
            photoCover="https://img.freepik.com/fotos-premium/imagem-de-alta-qualidade-de-um-belo-gato-manx_1008702-1569.jpg"
            cardTitle="Você não vai acreditar no que esse gato fez na casa de seu dono."
            >
        </app-small-card>

    </div>
</div>
