
<app-menu-title></app-menu-title>
<div class="articles-container">
    <div class="articles__main">
        <app-big-card 
            Id="1"
            photoCover="https://c4.wallpaperflare.com/wallpaper/350/1006/490/cat-4k-1080p-high-quality-wallpaper-preview.jpg"
            cardTitle="ORANGE CATS ARE MORE LOYAL: SAYS SPECIALIST"
            cardDescription="Studies conducted by professor Harvis Mc'Morow have found out important characteristical traits in cats that present orange coloration. 'Yet, it's too soon to accept any conclusion'."   
            cardAuthor="Jonathan Davids"
            cardCategory="Science"
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card 
            Id="2"
            photoCover="https://img.freepik.com/fotos-gratis/captura-horizontal-de-dois-gatos-sentados-em-um-fundo-desfocado_181624-56173.jpg"
            cardTitle="ARE THESE CATS ANGRY?"
            cardDescription="How good are you at recognizing what you pet feels? Give it a try!"
            cardAuthor="Mitchel Tompson"
            cardCategory="Essay"
            >
        </app-small-card>

        <app-small-card 
            Id="3"
            photoCover="https://img.freepik.com/fotos-gratis/close-de-um-gato-ruivo-abracando-e-lambendo-o-outro-isolado-em-uma-parede-branca_181624-32893.jpg"
            cardTitle="RAREST CAT KIND: FEMALE ORANGE CAT IN AMPARO."
            cardDescription="Small orange female cat found walking the streets in the small city of Amparo."
            cardAuthor="Lindsey Bünschen"
            cardCategory="News"
            >
        </app-small-card>
        
        <app-small-card 
            Id="4"
            photoCover="https://www.patasdacasa.com.br/sites/default/files/2023-10/gato-frajola3.jpg"
            cardTitle="YOU WON'T BELIEVE WHAT THIS CAT'S NAME IS"
            cardDescription="Owners are going too far on naming ideas for cats."
            cardAuthor="Rebecca Stuart"
            cardCategory="Humor"
            >
        </app-small-card>

    </div>
</div>
